    
<header role="banner">
            <nav role="navigation" class="navbar navbar-static-top navbar-default">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#"><%= image_tag "logo.jpg", alt:"SarahTree", width:"150" %></a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li> <a href="#home">
                        <span class="icon fa fa-home"></span> Home
                    </a></li>
                    <li><a href="#features">
                        <span class="icon fa fa-desktop"></span> Welcome
                    </a></li>
                    <li><a href="#impact">
                        <span class="icon fa fa-group"></span> Our procedure
                    </a></li>
                    <li><a href="#contact">
                        <span class="icon fa fa-envelope"></span> Contact
                    </a></li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div><!--/.container -->
            </nav>
        </header>

        <main role="main">
        <section id="home">
            <div id="homepage-feature" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#homepage-feature" data-slide-to="0" class="active"></li>
                    <li data-target="#homepage-feature" data-slide-to="1"></li>
                    <li data-target="#homepage-feature" data-slide-to="2"></li>
                    <li data-target="#homepage-feature" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                       <%= image_tag "okwu.jpg", alt:"OKWU.edu Homepage" %>
                           <div class="carousel-caption">
                              <h2>Buying a home?</h2>
                              <h4>We provide expert advice on how to save on your mortgage and get approved successfully.</h4>

                           </div>
                    </div>
                    <div class="item">
                       <%= image_tag "okwu-athletics.jpg", alt:"OKWU Athletics Homepage" %>
                           <div class="carousel-caption">
                              <h2>Refinance your home?</h2>
                              <h4>We offer a wide range of lenders and get you the best deal. We save your money.</h4>
                           </div>  
                    </div>
                    <div class="item">
                        <%= image_tag "bartlesvillecf.jpg", alt:"Bartlesville Community Foundation" %>
                           <div class="carousel-caption">
                              <h2>No idea to prepare for documentation?</h2>
                              <h4>We help you qualify for your home loan. According to your financial situation, get the right loan immediately. We save your time.</h4>
                           </div>
                    </div>
                    <div class="item">
                        <%= image_tag "emancipation.jpg", alt:"Emancipation Stories" %>
                        <div class="carousel-caption">
                              <h2>Looking for consistent mortgage service?</h2>
                              <h4> We look after your mortgage in the life of the loan at no charge.</h4>
                           </div>  
                    </div>
                </div><!-- /.carousel-inner -->

                <!-- Controls -->
                <a class="left carousel-control" href="#homepage-feature" data-slide="prev">
                    <span class="icon fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#homepage-feature" data-slide="next">
                    <span class="icon fa fa-chevron-right"></span>
                </a>
            </div><!-- /#homepage-feature.carousel -->
            </section>
          <section id="features">
            <div class="page-contents container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Welcome!</h2>
                    <p>At GemTree Mortgages, our work is dedicated to the mortgage success of our clients. As an experienced and innovative company, we work with a wide range of banks and financial institutions. We represent an “A” rated mortgage company with first quality rates and special offers due to the volume of business that we deal with the lenders.</p>
                    <p>We understand that each client has specific needs and situation, therefore we strive to meet your target in finance as we know how to use your financial resources for reaching great results. Our fully accredited brokers provide you with qualified and reliable services at NO charge. We get paid by the lenders, not by our clients.</p>
                    <p>Instead of visiting multiple bank branches, you are welcome to make an appointment with us to get multiple lenders’ policies. We meet with you at a time and place that is convenient for you. We are here to support you throughout the entire mortgage process and the life of the loan. That means our service is never ever a one-time service. We’re with you every step of the way,to get the right loan at the right rate.</p>
                   <p>Let us save your time, save you money and be the stepping stone to the home of your dreams.</p>
                    <p><a class="btn btn-primary pull-right" href="#">See our portfolio <span class="icon fa fa-arrow-circle-right"></span></a></p>
                </div>
                <div class="col-sm-4">
                    <h2>Recent Updates</h2>
                    <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
                    <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
                     <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
                    <p><a class="btn btn-primary pull-right" href="#">See what's new! <span class="icon fa fa-arrow-circle-right"></span></a></p>
                </div>
                <div class=" col-sm-4">
                    <h2>Our Team</h2>
                    <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
                    <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
                    <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
                    <p><a class="btn btn-primary pull-right" href="#">Meet the team! <span class="icon fa fa-arrow-circle-right"></span></a></p>
                </div>
            </div><!-- /.row -->
            </div><!-- /.container -->
       </section><!-- /.row -->  
                <!-- IMPACT SECTION -->
    <section id="impact">
      <div class="container">
        <h2>Our procedure</h2>
       <div class="row-fluid">
    <div class="col-lg-12">
      <h3 class="text-center">Zigzag Timeline Layout (and Cats)</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <%= image_tag "contacts.png", alt:"Emancipation Stories", class:"img-circle img-responsive"  %>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step One</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
           <%= image_tag "soundhound.png", alt:"Emancipation Stories", class:"img-circle img-responsive"  %>

          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Two</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <%= image_tag "phone.png", alt:"Emancipation Stories", class:"img-circle img-responsive"  %>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Three</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <%= image_tag "soundcloud.png", alt:"Emancipation Stories", class:"img-circle img-responsive"  %>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Four</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <%= image_tag "anydo.png", alt:"Emancipation Stories", class:"img-circle img-responsive"  %>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Bonus Step</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
      </div><!-- /.container -->
    </section><!-- /#impact -->  
     
           <!-- CONTACT SECTION -->
    <section id="contact">
   
       <!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->
<br> 
<br>  
<br>
<br>
<hr>
<div class="container content">
    <div class="row-fluid">
        <div class="col-md-6">
            <div class="testimonials">
              <div class="active item">
                  <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
                  <div class="carousel-info">
                     <%= image_tag "youtube.png", alt:"", class:"img-circle pull-left"  %>
                    <div class="pull-left">
                      <span class="testimonials-name">Sarah</span>
                      <span class="testimonials-post">Justice of Peace</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
                <div class="col-md-6">
                   <div class="text-center ">
                      <%= image_tag "sarah.jpg", height:"180", width:"180" %>
                      <small><p>Scan QR Code</p></small>
                    </div>
                 </div>
</div>
   </div>      
<center>
  <a href="#"><%= image_tag "logodown.jpg", width:"160", alt:"SarahTree" %></a>
</center>
      </section><!-- /#contact  -->       
    </main>

        <footer role="contentinfo">

            <ul class="social">
              <li><a href="https://twitter.com/" title="Twitter Profile"><span class="icon fa fa-twitter"></span></a></li>
              <li><a href="http://www.facebook.com/" title="Facebook Page"><span class="icon fa fa-facebook"></span></a></li>
              <li><a href="https://www.linkedin.com/" title="LinkedIn Profile"><span class="icon fa fa-linkedin"></span></a></li>
              <li><a href="https://plus.google.com/collections/featured" title="Google+ Profile"><span class="icon fa fa-google-plus"></span></a></li>
             </ul>

        </footer>
        

        


